
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
    padding-top: 0px;
	color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 1.8 !important;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

html {
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight:200;
	color: #222;
}

p{
	font-family: 'Playfair Display', serif;
	font-weight:300;
}

input {
    text-align: center;
    color:black;
    width: 100px;
}

section {
	padding-top:0px;
	padding-bottom:15px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

a,a:link {
	color: #222;
}

a:hover,a:focus {
	color: #222;
}

/* Carousel */

.carousel-control.left {
    background-image: none;
    filter: none;
}
.carousel-control.right {
    background-image: none;
    filter: none;
}


/* Gallery */


.thumbnail{
    background: #00000059;
    border: none;
    text-align: center;
}

.thumbnail > img {
    height: 150px;
}

.thumbnail h3{
    color: white;
    margin-top: 5px;
}

.thumbnail input.name-input{
    background: transparent;
    border: solid 1px white;
    color: white;
    width: 90%;
    height: 35px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.panel {
    background: transparent;
}
